<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .tab{
      height: 100px;
      background-color: skyblue;
    }
  .nav{
    position: sticky;
    top: 0;
    height: 10px;
    background-color: #ff0;
  }
  p{
    height: 2000px;
  }
  </style>
</head>
<body>
  <div id="box">
    <div class="tab"></div>
    <div class="nav"></div>
    <p>fsffsfa </p>
  </div>
</body>
</html>